* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: 1fr 300px 300px 1fr;
  grid-template-areas: ". . ." ". c ." ". b ." ". . .";
  text-align: center;
}
.container .counter {
  grid-area: c;
  padding: 15%;
  font-size: 400%;
  font-weight: 700;
}
.container .counter p {
  margin-bottom: 10%;
}
.container .buttons {
  grid-area: b;
  padding: 15%;
}
.container .buttons button {
  font-size: 150%;
  border: 2px solid black;
  border-radius: 15px;
  text-transform: uppercase;
  margin: 0 1%;
  padding: 2%;
  background-color: white;
}